[submodule "build"]
	path = build
	url = git@github.com:ChristopherJD/raspberrypi_conf.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi
	branch = zeus
[submodule "meta-user"]
	path = meta-user
	url = git@github.com:ChristopherJD/raspberrypi_meta_user.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = zeus
